{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w-full max-w-[1550px] h-auto mx-auto">
    <div class="h-auto flex flex-wrap justify-start items-start gap-12">
        <div class="flex-grow flex flex-col justify-start items-start">
            <div class="w-full h-auto py-7 flex flex-col justify-start items-start gap-7">
                <div class="w-full flex justify-between items-center">
                    <div class="flex items-center gap-4">
                    <div class="text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">Statistic</div>
                </div>
            </div>
        </div>
        <div class="self-stretch h-96 py-7 flex-col justify-start items-start gap-[18px] flex">
            <!-- Individual Statistic Part -->
            <div class="self-stretch text-[#1b1e28] text-xl font-bold font-['Plus Jakarta Sans'] leading-normal">Individual Statistic</div>
            <div class="self-stretch h-[286px] pl-5 flex-col justify-start items-start gap-[18px] flex">
            <div class="w-full flex justify-between items-center gap-4">
                <div class="flex-grow flex flex-col gap-1">
                    <label class="text-[#1a2227] text-[13px] font-medium font-['Poppins']">Veterinarian</label>
                    <div class="flex flex-col gap-1 relative w-full">
                        <form method="get" action="{% url 'paw_n_care:statistic' %}">
                        <div class="w-full">
                            <select name="vet" class="select select-bordered w-full px-3 py-2 bg-[#25597e]/10 rounded-xl border border-transparent focus:outline-none focus:border-[#344578] text-[15px] font-normal font-['Poppins'] leading-tight">
                                <option disabled selected>Select Veterinarian</option>
                                {% for i in vets %}
                                    <option value="{{ i.vet_id }}" {% if i.vet_id == selected_vet_id %}selected{% endif %}>
                                        Dr. {{ i.first_name }} {{ i.last_name }} (Vet ID: {{ i.vet_id }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="px-4 py-2 bg-[#3e65dc] text-white rounded-xl text-[15px] font-medium font-['Poppins'] leading-tight transition-all duration-300 ease-in-out transform hover:bg-[#1e4b8c] hover:shadow-lg hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#3e65dc] mt-5">
                    Filter
                </button>
            </form>
            </div>
                <div class="self-stretch justify-start items-center gap-7 inline-flex">
                    <div class="grow shrink basis-0 p-7 bg-[#24587e]/10 rounded-[10px] border border-black/0 flex-col justify-start items-start gap-[18px] inline-flex">
                        <div class="self-stretch justify-between items-center inline-flex">
                            <div class="grow shrink basis-0 text-[#1b1e28] text-base font-bold font-['Plus Jakarta Sans'] leading-normal">Appointments</div>
                        </div>
                        <div class="self-stretch h-[60px] flex-col justify-start items-start gap-1 flex">
                            <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ appointments }}</div>
                            <div class="self-stretch text-[#0078cf] text-[13px] font-medium font-['Plus Jakarta Sans'] leading-none">{{ appointment_percentage }}%</div>
                        </div>
                    </div>
                    <div class="grow shrink basis-0 p-7 bg-[#24587e]/10 rounded-[10px] border border-black/0 flex-col justify-start items-start gap-[18px] inline-flex">
                        <div class="self-stretch justify-between items-center inline-flex">
                            <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-['Plus Jakarta Sans'] leading-normal">Pets Managed</div>
                        </div>
                        <div class="self-stretch h-[60px] flex-col justify-start items-start gap-1 flex">
                            <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ pets_managed }}</div>
                            <div class="self-stretch text-[#0078cf] text-[13px] font-medium font-['Plus Jakarta Sans'] leading-none">{{ pets_managed_percentage }}%</div>
                        </div>
                    </div>
                    <div class="grow shrink basis-0 p-7 bg-[#24587e]/10 rounded-[10px] border border-black/0 flex-col justify-start items-start gap-[18px] inline-flex">
                        <div class="self-stretch justify-between items-center inline-flex">
                            <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-['Plus Jakarta Sans'] leading-normal">Bills Paid</div>
                        </div>
                        <div class="self-stretch h-[60px] flex-col justify-start items-start gap-1 flex">
                            <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ bills_paid }}</div>
                            <div class="self-stretch text-[#0078cf] text-[13px] font-medium font-['Plus Jakarta Sans'] leading-none">{{ bills_paid_percentage }}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="self-stretch h-[1884px] flex-col justify-start items-start flex">
            <div class="self-stretch h-[370px] py-3 flex-col justify-center items-start gap-7 flex">
                <div class="self-stretch h-[180px] flex-col justify-start items-start gap-[18px] flex">
                    <!-- Clinic Statistics Part-->
                    <div class="self-stretch text-[#1b1e28] text-xl font-bold font-[poppins] leading-normal">Clinic Statistics</div>
                    <div class="self-stretch pl-5 justify-start items-center gap-7 inline-flex">
                        <div class="grow shrink basis-0 p-7 bg-[#305672]/10 rounded-[20px] border border-black/0 flex-col justify-start items-start gap-[18px] inline-flex">
                            <div class="self-stretch justify-between items-center inline-flex">
                                <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-['Plus Jakarta Sans'] leading-normal">Avg Appointments per Month</div>
                            </div>
                            <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ avg_monthly_appointments }}</div>
                            </div>
                        </div>
                        <div class="grow shrink basis-0 p-7 bg-[#305672]/10 rounded-[20px] border border-black/0 flex-col justify-start items-start gap-[18px] inline-flex">
                            <div class="self-stretch justify-between items-center inline-flex">
                                <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-['Plus Jakarta Sans'] leading-normal">Most Frequent Species</div>
                            </div>
                            <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ most_frequent_species }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="self-stretch pl-5 justify-start items-start gap-[30px] inline-flex">
                    <div class="grow shrink basis-0 p-7 bg-[#305672]/10 rounded-[20px] border border-black/0 flex-col justify-start items-start gap-[18px] inline-flex">
                        <div class="self-stretch justify-between items-center inline-flex">
                            <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-['Plus Jakarta Sans'] leading-normal">Unique Returning Owners (6 Months)</div>
                        </div>
                        <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                            <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ returning_owners }}</div>
                        </div>
                    </div>
                    <div class="grow shrink basis-0 p-7 bg-[#305672]/10 rounded-[20px] border border-black/0 flex-col justify-start items-start gap-[18px] inline-flex">
                        <div class="self-stretch justify-between items-center inline-flex">
                            <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-['Plus Jakarta Sans'] leading-normal">Appointments Resulting in Medications</div>
                        </div>
                        <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                            <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ medication_percentage }} %</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="self-stretch h-[204px] pl-5 py-3 flex-col justify-center items-start gap-7 flex">
                <div class="self-stretch h-[180px] flex-col justify-start items-start gap-[18px] flex">
                    <!-- Pet Average Weight Statistics Part-->
                    <div class="self-stretch text-[#14232e]/60 text-xl font-bold font-['Plus Jakarta Sans'] leading-normal">Pet Average Weight Statistics</div>
                    <div class="self-stretch justify-start items-center gap-7 inline-flex">
                        <div class="grow shrink basis-0 p-7 bg-[#305672]/10 rounded-[18px] border border-black/0 flex-col justify-start items-start gap-[18px] inline-flex">
                            <div class="self-stretch justify-between items-center inline-flex">
                                <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-['Plus Jakarta Sans'] leading-normal">Dogs</div>
                            </div>
                            <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ dog_avg_weight }} kg</div>
                            </div>
                        </div>
                        <div class="grow shrink basis-0 p-7 bg-[#305672]/10 rounded-[18px] border border-black/0 flex-col justify-start items-start gap-[18px] inline-flex">
                            <div class="self-stretch justify-between items-center inline-flex">
                                <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-['Plus Jakarta Sans'] leading-normal">Cats</div>
                            </div>
                            <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ cat_avg_weight }} kg</div>
                            </div>
                        </div>
                        <div class="grow shrink basis-0 p-7 bg-[#305672]/10 rounded-[18px] border border-black/0 flex-col justify-start items-start gap-[18px] inline-flex">
                            <div class="self-stretch justify-between items-center inline-flex">
                                <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-['Plus Jakarta Sans'] leading-normal">Other</div>
                            </div>
                            <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ other_avg_weight | floatformat:2 }} kg</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="self-stretch h-[698px] py-3 flex-col justify-center items-start gap-7 flex">
                <div class="self-stretch h-[674px] flex-col justify-start items-start gap-[18px] flex">
                    <!-- Appointment Statistics Part -->
                    <div class="self-stretch text-[#1b1e28] text-xl font-bold font-['Plus Jakarta Sans'] leading-normal">Appointment Statistics</div>
                    <div class="self-stretch h-[632px] pl-5 flex-col justify-start items-start gap-[18px] flex">
                        <div class="self-stretch h-[148px] p-8 bg-[#24587e]/10 rounded-[10px] border border-black/0 flex-col justify-start items-start gap-5 flex">
                            <div class="self-stretch justify-between items-center inline-flex">
                                <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-semibold font-[poppins] leading-normal">Top Veterinarian by Completed Appointments</div>
                            </div>
                            <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                <div class="self-stretch text-[#1b1e28] text-[34px] font-semibold font-[poppins] leading-10">Dr. {{ top_vets }}</div>
                            </div>
                        </div>
                        <div class="self-stretch justify-start items-start inline-flex">
                            <div class="grow shrink basis-0 flex-col justify-start items-start inline-flex">
                                <div class="self-stretch h-48 py-3 bg-[#fafcfe] flex-col justify-center items-start gap-6 flex">
                                    <div class="self-stretch h-[168px] flex-col justify-start items-start gap-4 flex">
                                        <div class="self-stretch text-[#14232e]/60 text-xl font-semibold font-[poppins] leading-normal">Appointment Status Distribution in a year</div>
                                        <div class="self-stretch justify-start items-center gap-6 inline-flex">
                                            <div class="grow shrink basis-0 p-6 bg-[#305672]/10 rounded-lg border border-black/0 flex-col justify-start items-start gap-4 inline-flex">
                                                <div class="self-stretch justify-between items-center inline-flex">
                                                    <div class="grow shrink basis-0 text-[#1a2227] text-[17px] font-semibold font-[poppins] leading-normal">Scheduled</div>
                                                </div>
                                                <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                                    <div class="self-stretch text-[#1a2227] text-[34px] font-semibold font-[poppins] leading-10">{{ scheduled_count }}</div>
                                                </div>
                                            </div>
                                            <div class="grow shrink basis-0 p-6 bg-[#305672]/10 rounded-lg border border-black/0 flex-col justify-start items-start gap-4 inline-flex">
                                                <div class="self-stretch justify-between items-center inline-flex">
                                                    <div class="grow shrink basis-0 text-[#1a2227] text-[17px] font-semibold font-[poppins] leading-normal">Completed</div>
                                                </div>
                                                <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                                    <div class="self-stretch text-[#1a2227] text-[34px] font-semibold font-[poppins] leading-10">{{ completed_count }}</div>
                                                </div>
                                            </div>
                                            <div class="grow shrink basis-0 p-6 bg-[#305672]/10 rounded-lg border border-black/0 flex-col justify-start items-start gap-4 inline-flex">
                                                <div class="self-stretch justify-between items-center inline-flex">
                                                    <div class="grow shrink basis-0 text-[#1a2227] text-[17px] font-semibold font-[poppins] leading-normal">Canceled</div>
                                                </div>
                                                <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                                    <div class="self-stretch text-[#1a2227] text-[34px] font-semibold font-[poppins] leading-10">{{ canceled_count }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="grid grid-cols-3 gap-4 w-full py-7" style="grid-template-columns: 10% 45% 45%;">
                                <!-- Column 1: Numbers -->
                                <div class="flex flex-col items-stretch">
                                    <div class="py-1 text-[#13232e]/60 text-[13px] font-medium font-[poppins] text-center">#</div>
                                    <div class="py-[18px] border-t border-[#495e6e]/20 text-[#1b1e28] text-[15px] font-normal text-center">1</div>
                                    <div class="py-[18px] border-t border-[#495e6e]/20 text-[#1b1e28] text-[15px] font-normal text-center">2</div>
                                    <div class="py-[18px] border-t border-[#495e6e]/20 text-[#1b1e28] text-[15px] font-normal text-center">3</div>
                                </div>

                                <!-- Column 2: Diagnoses -->
                                <div class="flex flex-col items-stretch">
                                    <div class="py-1 text-[#13232e]/60 text-[13px] font-medium font-[poppins]">Top Diagnoses</div>
                                    {% for diagnosis in top_3_diagnoses %}
                                        <div class="py-[18px] border-t border-[#495e6e]/20 text-[#1b1e28] text-[15px] font-normal">{{ diagnosis.diagnosis }}</div>
                                    {% empty %}
                                        <div class="py-[18px] border-t border-[#495e6e]/20 text-[#1b1e28] text-[15px] font-normal">N/A</div>
                                    {% endfor %}
                                </div>

                                <!-- Column 3: Treatments -->
                                <div class="flex flex-col items-stretch">
                                    <div class="py-1 text-[#13232e]/60 text-[13px] font-medium font-['Plus Jakarta Sans']">Top Treatments</div>
                                    {% for treatment in top_3_treatments %}
                                        <div class="py-[18px] border-t border-[#495e6e]/20 text-[#1b1e28] text-[15px] font-normal">{{ treatment.treatment }}</div>
                                    {% empty %}
                                        <div class="py-[18px] border-t border-[#495e6e]/20 text-[#1b1e28] text-[15px] font-normal">N/A</div>
                                    {% endfor %}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="self-stretch h-[612px] py-3 flex-col justify-center items-start gap-7 flex">
                <div class="self-stretch h-[588px] flex-col justify-start items-start gap-[18px] flex">
                    <!-- Billing & Payment Analysis Part -->
                    <div class="self-stretch text-[#1b1e28] text-xl font-bold font-['Plus Jakarta Sans'] leading-normal">Billing & Payment Analysis</div>
                    <div class="self-stretch h-[546px] pl-5 flex-col justify-start items-start gap-[18px] flex">
                        <div class="self-stretch justify-start items-start gap-6 inline-flex">
                            <div class="grow shrink basis-0 p-8 bg-[#24587e]/10 rounded-[10px] border border-black/0 flex-col justify-start items-start gap-5 inline-flex">
                                <div class="self-stretch justify-between items-center inline-flex">
                                    <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-semibold font-[poppins] leading-normal">Avg Billing Amount per Appointment</div>
                                </div>
                                <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                    <div class="self-stretch text-[#1b1e28] text-[34px] font-semibold font-[poppins] leading-10">{{ avg_billing_amount }} Baht</div>
                                </div>
                            </div>
                            <div class="grow shrink basis-0 p-8 bg-[#24587e]/10 rounded-[10px] border border-black/0 flex-col justify-start items-start gap-5 inline-flex">
                                <div class="self-stretch justify-between items-center inline-flex">
                                    <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-semibold font-[poppins] leading-normal">Sum Billing this month</div>
                                </div>
                                <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                    <div class="self-stretch text-[#1b1e28] text-[34px] font-semibold font-[poppins] leading-10">{{ sum_billing_this_month }} Baht</div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch text-[#14232e]/60 text-xl font-bold font-[poppins] leading-normal">Invoice Status Overview</div>
                        <div class="self-stretch justify-start items-center gap-6 inline-flex">
                            <div class="grow shrink basis-0 p-6 bg-[#24587e]/10 rounded-lg border border-black/0 flex-col justify-start items-start gap-4 inline-flex">
                                <div class="self-stretch justify-between items-center inline-flex">
                                    <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-[poppins] leading-normal">Paid On Time</div>
                                </div>
                                <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                    <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-[poppins] leading-10">{{ paid_percentage }}%</div>
                                </div>
                            </div>
                            <div class="grow shrink basis-0 p-6 bg-[#24587e]/10 rounded-lg border border-black/0 flex-col justify-start items-start gap-4 inline-flex">
                                <div class="self-stretch justify-between items-center inline-flex">
                                    <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-[poppins] leading-normal">Pending</div>
                                </div>
                                <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                    <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-[poppins] leading-10">{{ pending_percentage }}%</div>
                                </div>
                            </div>
                            <div class="grow shrink basis-0 p-6 bg-[#24587e]/10 rounded-lg border border-black/0 flex-col justify-start items-start gap-4 inline-flex">
                                <div class="self-stretch justify-between items-center inline-flex">
                                    <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-[poppins] leading-normal">Overdue</div>
                                </div>
                                <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                    <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-[poppins] leading-10">{{ overdue_percentage }}%</div>
                                </div>
                            </div>
                            <div class="grow shrink basis-0 p-6 bg-[#24587e]/10 rounded-lg border border-black/0 flex-col justify-start items-start gap-4 inline-flex">
                                <div class="self-stretch justify-between items-center inline-flex">
                                    <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-[poppins] leading-normal">Total Invoices</div>
                                </div>
                                <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                    <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-[poppins] leading-10">{{ total_invoices }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch h-48 py-3 flex-col justify-center items-start gap-6 flex">
                            <div class="self-stretch h-[168px] flex-col justify-start items-start gap-4 flex mb-10">
                                <div class="self-stretch text-[#14232e]/60 text-xl font-bold font-['Plus Jakarta Sans'] leading-normal">Payment Methods and Status</div>
                                <div class="self-stretch justify-start items-center gap-6 inline-flex">
                                    <div class="grow shrink basis-0 p-6 bg-[#305672]/10 rounded-2xl border border-black/0 flex-col justify-start items-start gap-4 inline-flex">
                                        <div class="self-stretch justify-between items-center inline-flex">
                                            <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-[poppins] leading-normal">Credit Card</div>
                                        </div>
                                        <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                            <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-[poppins] leading-10">{{ credit_card_percentage }}%</div>
                                        </div>
                                    </div>
                                    <div class="grow shrink basis-0 p-6 bg-[#305672]/10 rounded-2xl border border-black/0 flex-col justify-start items-start gap-4 inline-flex">
                                        <div class="self-stretch justify-between items-center inline-flex">
                                            <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-[poppins] leading-normal">Cash</div>
                                        </div>
                                        <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                            <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-[poppins] leading-10">{{ cash_percentage }}%</div>
                                        </div>
                                    </div>
                                    <div class="grow shrink basis-0 p-6 bg-[#305672]/10 rounded-2xl border border-black/0 flex-col justify-start items-start gap-4 inline-flex">
                                        <div class="self-stretch justify-between items-center inline-flex">
                                            <div class="grow shrink basis-0 text-[#1b1e28] text-[17px] font-bold font-['Plus Jakarta Sans'] leading-normal">Bank Transfer</div>
                                        </div>
                                        <div class="self-stretch h-10 flex-col justify-start items-start gap-1 flex">
                                            <div class="self-stretch text-[#1b1e28] text-[34px] font-bold font-['Plus Jakarta Sans'] leading-10">{{ bank_transfer_percentage }}%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}